This python (or jupyter) notebook is an introduction to pandas series as well as python notebooks. First lets import the necessary packages:

In [71]:
import pandas as pd
import numpy as np

# Data Series
Lets make up some data to start as a way to highlight features. Just picted abritrary numbers and strings.

In [72]:
sdat = pd.Series([4620, 'UL', 5.67e-8, -61, 'FSRI'])
sdat

0        4620
1          UL
2    5.67e-08
3         -61
4        FSRI
dtype: object

You can also index data in a series, let's redefine sdat:

In [73]:
sdat = pd.Series([4620, 'UL', 5.67e-8, -61, 'FSRI'], index=['K','T','F','1','0'])
sdat

K        4620
T          UL
F    5.67e-08
1         -61
0        FSRI
dtype: object

We can use that index to refer to a particular value:

In [74]:
sdat['K']

4620

A pandas series can also be used to interpret a dictionary. Here lets rank some things on how awesome they are:

In [103]:
some_city_data = {'Northbrook': 1000, 'Rockville': 1, 'Columbia': 600, 'DC': 9000,
     'Austin': 10000, 'Baltimore': None}

We can concert this to a pandas data series:

In [104]:
cities = pd.Series(some_city_data)
cities

Austin        10000
Baltimore       NaN
Columbia        600
DC             9000
Northbrook     1000
Rockville         1
dtype: float64

Just like before you can use the index value to grab data:

In [105]:
cities['Austin']

10000.0

In [106]:
cities[['Austin','Rockville','DC']]

Austin       10000
Rockville        1
DC            9000
dtype: float64

Here is where things get weird? Powerful? We can apply boolean logic to our cities data series:

In [107]:
cities[cities>500]

Austin        10000
Columbia        600
DC             9000
Northbrook     1000
dtype: float64

Pretty slick right? But what the heck is going on? We can decompose the prior line:

In [108]:
cities>500

Austin         True
Baltimore     False
Columbia       True
DC             True
Northbrook     True
Rockville     False
dtype: bool

The boolean logic line simply returns 'True' or 'False' back based on our criteria, here for awesomeness greater than 500.
Putting that inside the backets means we are returning from cities where the value is true. Which is how we got the city values back.

What if we liked Austin more, I can simply change that value on the fly:

In [109]:
cities['Austin'] = 3e6
cities['Austin']

3000000.0

We can also change values based by applying boolean logic:

In [110]:
cities[cities < 500] = 0.5
cities[cities==0.5]

Rockville    0.5
dtype: float64

We can also preform typical math manipulations on the entire series if we so choose.

In [111]:
cities/2

Austin        1500000.00
Baltimore            NaN
Columbia          300.00
DC               4500.00
Northbrook        500.00
Rockville           0.25
dtype: float64

In [112]:
np.square(cities) #here is our numpy coming at ya!

Austin        9.000000e+12
Baltimore              NaN
Columbia      3.600000e+05
DC            8.100000e+07
Northbrook    1.000000e+06
Rockville     2.500000e-01
dtype: float64

In [113]:
np.sqrt(cities)

Austin        1732.050808
Baltimore             NaN
Columbia        24.494897
DC              94.868330
Northbrook      31.622777
Rockville        0.707107
dtype: float64

Note these previous math operations were manipulating cities values after we assigned values less than 500 to 0.5.

In [114]:
cities

Austin        3000000.0
Baltimore           NaN
Columbia          600.0
DC               9000.0
Northbrook       1000.0
Rockville           0.5
dtype: float64

In [115]:
cities = np.square(cities) #this would change the value of cities
cities

Austin        9.000000e+12
Baltimore              NaN
Columbia      3.600000e+05
DC            8.100000e+07
Northbrook    1.000000e+06
Rockville     2.500000e-01
dtype: float64

In [116]:
cities=np.sqrt(cities)
cities

Austin        3000000.0
Baltimore           NaN
Columbia          600.0
DC               9000.0
Northbrook       1000.0
Rockville           0.5
dtype: float64

We can also add cities if we choose.

In [119]:
cities[['Austin','Northbrook','New York']] + cities[['Northbrook','Rockville']]

Austin         NaN
New York       NaN
Northbrook    2000
Rockville      NaN
dtype: float64

It only adds where the indexes are common between the two.